# alertmanager.yml.j2
global:
  resolve_timeout: 5m

route:
  receiver: 'telegram-notifier'
  group_by: ['alertname', 'cluster']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  routes:
    - receiver: 'telegram-notifier'
      matchers:
        - severity="critical"
      group_wait: 10s
      continue: false

receivers:
  - name: 'telegram-notifier'
    telegram_configs:
      - api_url: https://api.telegram.org
        bot_token: '{{ telegram_bot_token }}'
        chat_id: {{ telegram_chat_id | quote }}
inhibit_rules:
  - source_matchers:
      - severity="critical"
    target_matchers:
      - severity="warning"
    equal:
      - alertname
      - instance
