ASPNETCORE_URLS=http://+:8080
DB_Ausguck_Inserter_ConnectionString=Host=172.19.0.1;Database={{db_name}};Username={{ user_ausguck_name }};Password={{ name_ausguck_pw }}
DB_Ausguck_Tester_ConnectionString=Host=172.19.0.1;Database={{db_name}};Username={{ user_ausguck_tester_name }};Password={{ name_ausguck_tester_pw }}
