version: "3.9"

services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    logging:
      driver: "json-file"   # default, reicht bei kleinem Projekt
      options:
        max-size: "10m"
        max-file: "3"
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.letsencrypt.acme.email={{ app_tls_email }}"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      - "--log.level=DEBUG"
      - "--api.dashboard=true"
    #  - "--api.insecure=true"
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.buckets=0.1,0.3,1.2,5.0"
      - "--providers.docker.watch"
      - "--entrypoints.traefik.address=:8080"

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik-ui.rule=PathPrefix(`/dashboard`) || PathPrefix(`/api`)"
      - "traefik.http.routers.traefik-ui.entrypoints=traefik"
    #  - "traefik.http.routers.traefik-ui.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik-ui.service=api@internal"
      - "traefik.http.middlewares.traefik-ip.ipallowlist.sourcerange=192.168.178.0/24,10.10.0.0/16"
      - "traefik.http.routers.traefik-ui.middlewares=traefik-ip"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./data/letsencrypt:/letsencrypt"
      - ./logs/api:/app/logs
    restart: always    
    networks:
      - web

  frontend:
    build: ./frontend
    container_name: frontend
    logging:
      driver: "json-file"   # default, reicht bei kleinem Projekt
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`{{ app_host }}`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=letsencrypt"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
    networks:
      - web
    depends_on:
      - backend
    volumes:
      - ./logs/api:/app/logs
    restart: unless-stopped

  backend:
    build: 
      context: ./backend
      dockerfile: AusguckBackend/Dockerfile
    container_name: backend
    logging:
      driver: "json-file"   # default, reicht bei kleinem Projekt
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`{{ app_host }}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls.certresolver=letsencrypt"
      - "traefik.http.services.backend.loadbalancer.server.port=8080"

      - "traefik.http.middlewares.backend-strip.stripprefix.prefixes=/api"
      - "traefik.http.middlewares.backend-ratelimit.ratelimit.average=1"

      - "traefik.http.routers.backend.middlewares=backend-strip,backend-ratelimit"
    networks:
      - web
    env_file:
      - ./backend/backend.env
    volumes:
      - ./logs/api:/app/logs
    restart: unless-stopped

networks:
  web:
    driver: bridge
