---
- name: Setup DB
  hosts: nodes
  gather_facts: false
  vars_files:
    - vars.yaml
  roles:
    - common
    - ssh
    - python
  tasks:
    - name: Install DB
      ansible.builtin.import_role:
        name: postgres.install
      vars:
        postgres_password: "{{ pg_password }}"
        postgres_admin_db: "{{ pg_admin_db }}"
        postgres_user: "{{ pg_user }}"
    
    - name: Init DB
      ansible.builtin.import_role:
        name: postgres.init
      vars:
        sql_files: "{{ sql_conf_files }}"
        postgres_user: "{{ pg_user }}"
        sql_files_path: "{{sql_conf_files_path}}"
        sql_files_Check_Bypass: "{{ sql_conf_files_Check_Bypass }}"