---
- name: Update DB Schema and Data
  hosts: nodes
  vars_files:
    - vars.yaml
  roles:
    - common
    - ssh
  tasks:
    - name: Init DB
      ansible.builtin.import_role:
        name: postgres.init
      vars:
        sql_files: "{{ sql_conf_files }}"
        postgres_user: "{{ pg_user }}"
        sql_files_path: "{{sql_conf_files_path}}"
        sql_files_Check_Bypass: "{{ sql_conf_files_Check_Bypass }}"