---
- name: Rechte auf Tabellen vergeben
  community.postgresql.postgresql_privs:
    type: table
    objs: person,participants,participantsPrivate,tagToParticipant,addresses,contactInfo #,presences
    roles: "{{ user_ausguck_name }}"
    privs: INSERT
    schema: public

    login_host: 127.0.0.1
    login_user: "{{ pg_user }}"
    login_password: "{{ pg_password }}"
    login_db: "{{ rumpf_db_name }}"
    state: present

- name: Rechte auf Tabellen vergeben
  community.postgresql.postgresql_privs:
    type: table
    objs: tags,person,participants,participantsPrivate,tagToParticipant,addresses,contactInfo
    roles: "{{ user_ausguck_name }}"
    privs: SELECT
    schema: public

    login_host: 127.0.0.1
    login_user: "{{ pg_user }}"
    login_password: "{{ pg_password }}"
    login_db: "{{ rumpf_db_name }}"
    state: present