---
- name: Rechte auf Tabellen vergeben
  community.postgresql.postgresql_privs:
    type: table
    objs: ALL_IN_SCHEMA
    roles: "{{ user_ausguck_name }}"
    privs: ALL
    schema: public

    login_host: 127.0.0.1
    login_user: "{{ pg_user }}"
    login_password: "{{ pg_password }}"
    login_db: "{{ rumpf_db_name }}"
    state: absent #present

- name: Rechte auf Tabellen vergeben
  community.postgresql.postgresql_privs:
    type: function
    obj: insert_participant(JSONB:TEXT[])
    roles: "{{ user_ausguck_name }}"
    privs: EXECUTE
    schema: public

    login_host: 127.0.0.1
    login_user: "{{ pg_user }}"
    login_password: "{{ pg_password }}"
    login_db: "{{ rumpf_db_name }}"
    state: present