---
- name: Rechte auf Tabellen vergeben
  community.postgresql.postgresql_privs:
    type: table
    objs: ALL_IN_SCHEMA
    roles: "{{ user_ausguck_tester_name }}"
    privs: ALL
    schema: public

    login_host: 127.0.0.1
    login_user: "{{ pg_user }}"
    login_password: "{{ pg_password }}"
    login_db: "{{ db_name }}"
    state: present